$color_theme: #1b399e;
$color_theme_2: #E74880;
$color_theme_3: #FF7C63;
$color_theme_4: #FFBA55;
$color_theme_5: #F9F871;
$color_white: #fefefe;
$color_white_transparent: rgba(240,240,240, 0.85);
$color_grey_superlight: #efefef;
$color_grey: #ccc;
$color_grey_light: #eee;
$color_grey_dark: #666;
$color_black: #222;

html, body {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  margin:0;
    padding:0;
    overflow: auto;
}

.body {
  max-width: 100vw;
  min-height: calc(100vh - 300px);
}
